<div class="markdown-editor-toolbar">
  {{#each this.toolbarBtns as |btnGroup|}}
    <div class="btn-group">
      {{#each btnGroup as |btn|}}
        {{#if btn.defaultType}}
          <button type="button" class="btn btn-light" {{on "click" (fn this.applyStyle btn.regex btn.requireSelection btn.prompt btn.tooltip btn.enter)}} title={{t btn.tooltip}} tabindex="-1">
            {{svg-jar btn.iconSvg size="1" class="markdown-button"}}
          </button>
        {{/if}}
        {{#if btn.undoType}}
          <button type="button" class="btn btn-light" {{on "click" this.undo}} title={{t btn.tooltip}} disabled={{this.noUndo}} tabindex="-1">
            {{svg-jar btn.iconSvg size="1" class="markdown-button"}}
          </button>
        {{/if}}
        {{#if btn.helpType}}
          <a class="btn btn-light" title={{t btn.tooltip}} href="{{t btn.href}}" target="_blank" rel="noopener noreferrer" tabindex="-1">
            {{svg-jar btn.iconSvg size="1" class="markdown-button" fill="#337ab7"}}
          </a>
        {{/if}}
      {{/each}}
    </div>
  {{/each}}
</div>

<div class="markdown-editor-editor">
  <Textarea
    @focus-out={{fn this.handleTextareaBlur}}
    id={{this.textareaId}}
    class="markdown-editor-textarea form-control"
    @value={{this.value}}
    autofocus={{this.autofocus}}
    cols={{this.cols}}
    dirname={{this.dirname}}
    disabled={{this.disabled}}
    form={{this.form}}
    maxlength={{this.maxlength}}
    name={{this.name}}
    placeholder={{this.placeholder}}
    readonly={{this.readonly}}
    required={{this.required}}
    rows={{this.rows}}
    tabindex={{if this.modal -1 this.modalTabindex}}
    wrap={{this.wrap}} />
</div>

{{#if this.modal}}
  <div class="modal d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {{#if this.dialog}}
          <div class="modal-header">
            <h5 class="modal-title" id="gridSystemModalLabel">{{t this.tooltip}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{on "click" this.cancel}}>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{t "markdown-editor.modal.selectionText"}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" {{on "click" this.cancel}}>
              <span>{{svg-jar "check" size="1" fill="white" class="markdown-button"}}</span> &nbsp;{{t "markdown-editor.modal.confirm"}}</button>
          </div>
        {{else}}
          <div class="modal-header">         
            <h5 class="modal-title" id="gridSystemModalLabel">{{t this.tooltip}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{on "click" this.cancel}}>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><Input type="text" @value={{this.result}} class="form-control" placeholder={{t this.promptText}} /></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" {{on "click" (fn this.confirm this.result)}}>
              <span>{{svg-jar "check" size="1" fill="white" class="markdown-button"}}</span> &nbsp;{{t "markdown-editor.modal.confirm"}}
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" {{on "click" this.cancel}}>
              <span>{{svg-jar "close" size="1" class="markdown-button" fill="#ffffff"}}</span> &nbsp;{{t "markdown-editor.modal.cancel"}}
            </button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
