<div class="pagination-centered">
  <ul class="pagination">
    {{#if canStepBackward}}
      <li class="arrow prev enabled-arrow page-item">
        <a href="#" {{action "incrementPage" -1}} class="page-link">&laquo;</a>
      </li>
    {{else}}
      <li class="arrow prev disabled page-item">
        <a href="#" {{action "incrementPage" -1}} class="page-link">&laquo;</a>
      </li>
    {{/if}}

    {{#each pageItems as |item|}}
      {{#if item.dots}}
        <li class="dots disabled page-item">
          <span class="page-link">...</span>
        </li>
      {{/if}}
      {{#if item.current}}
        <li class="active page-number page-item">
          <a class="page-link">{{item.page}}</a>
        </li>
      {{else}}
        <li class="page-number page-item">
          <a href="#" {{action "pageClicked" item.page}} class="page-link">{{item.page}}</a>
        </li>
      {{/if}}
    {{/each}}

    {{#if canStepForward}}
      <li class="arrow next enabled-arrow page-item">
        <a href="#" {{action "incrementPage" 1}} class="page-link">&raquo;</a>
      </li>
    {{else}}
      <li class="arrow next disabled page-item">
        <a href="#" {{action "incrementPage" 1}} class="page-link">&raquo;</a>
      </li>
    {{/if}}
  </ul>
</div>
