<header>
  <h1 id="title" class="mx-3">Welcome to Ember.js <a href="https://github.com/broerse/ember-cli-blog" title="GitHub Source">{{svg-jar "github" class="title"}}</a></h1>
  <nav class="navbar navbar-light bg-light navbar-expand mx-3 border">
    <LinkTo @route="application" class="navbar-brand">
      Bloggr
    </LinkTo>
    <ul class="navbar-nav mr-auto">
      <ActiveLink class="nav-item">
        <LinkTo @route="posts" class="nav-link">
          Posts
        </LinkTo>
      </ActiveLink>
      <ActiveLink class="nav-item">
        <LinkTo @route="authors" class="nav-link">
          Authors
        </LinkTo>
      </ActiveLink>
      <ActiveLink class="nav-item">
        <LinkTo @route="about" class="nav-link">
          About
        </LinkTo>
      </ActiveLink>
      <ActiveLink class="nav-item">
        <LinkTo @route="secret" class="nav-link">
          Secret
        </LinkTo>
      </ActiveLink>
    </ul>
    <div class="navbar-nav ml-auto">
      <span class="push {{if this.cloudState.cloudPull "push-enabled"}} navbar-text px-3" title="Pull data">
          {{svg-jar "cloud-download" size=2}} Pull {{if this.cloudState.cloudPull "synced" "not synced"}}
      </span>          
      <span class="push {{if this.cloudState.cloudPush "push-enabled"}} navbar-text px-3" title="Push data">
          {{svg-jar "cloud-upload" size=2}} Push {{if this.cloudState.cloudPush "synced" "not synced"}}
      </span>          
      {{#if this.session.isAuthenticated}}
        <li class="nav-item px-3">
          <a href="#" {{on "click" this.logout}} class="nav-link">Logout</a>
        </li>
      {{else}}
        <ActiveLink class="nav-item px-3">
          <LinkTo @route="login" class="nav-link">
            Login
          </LinkTo>
        </ActiveLink>
      {{/if}}
      <span class="navbar-text spinner">
        <RefreshIndicator @spin={{this.isSpinning}} />
      </span>          
    </div>
  </nav>
</header>
<main class="container-fluid pt-3">
  {{outlet}}
</main>
